<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="SegurosWCFService.ServicioSeguros">
				<endpoint address="" binding="webHttpBinding" contract="SegurosWCFService.IServicioSeguros" behaviorConfiguration="webBehavior" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Para evitar divulgar información de metadatos, establezca los valores a false antes de la implementación -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- Para recibir detalles de excepciones en fallos con fines de depuración, establezca el valor a true. Establezca a false antes de la implementación para evitar divulgar información de excepciones -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        Para explorar el directorio raíz de la aplicación web durante la depuración, establezca el valor a true.
        Establezca a false antes de la implementación para evitar divulgar información de carpetas de aplicaciones web.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
